@font-face {
    font-family: "Ma Super Fonte";
    src: url('../fonts/Futura LT Condensed Medium.ttf');
}

html{
    height:100%;
}

body {
    background-color: rgb(233, 242, 248);
    padding: 0px;
    margin: 0px;
    height:100%;
}

.container {
    background-color: rgb(128,164,188);
    font-family: "Ma Super Fonte";
    font-style: normal;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
}

/* Entete */
.page-header
{
    margin-top: 5px;
    font: 25px "Trebuchet MS", Georgia, serif;
    color: white;
    text-align:center;
    border: none;
}

.elem_entete {
    height:160px;
    background-color:#9c2b20;
}

.elem_entete a {
    color: white;
}

/* Sommaire - Menu gauche */
#sommaire {
    background-color: white;
    border : 1px solid #4b5e6a;
    text-align:left;
    padding:10px;
}

.element_sommaire{
    text-decoration: none;
    margin-top:30px;
    font-weight:bold;
    font-size:18px;
    color:#3f3f41;

}

/* Corps */
#corps {
    background-color: white;
    border : 1px solid #4b5e6a;
    padding: 10px;
}

/* Pied */

#pied
{
    height:40px;
    text-align: right;
    font-size: .8em;
    background-color: white;
    margin-top:20px;

    margin-bottom:20px;
}

address
{
    font-style:normal;
}

.W3C
{
    left:240px;
    margin-top: 5px;
}


